<h1> Booking Confirmation</h1>
Booking details <br>
<br>
Payment made using :<%= booking_details.payment%>
<br>
From date :<%= booking_details.start_date%>
<br>
To date :<%= booking_details.end_date%>
<br>
<br><br>
Space Booked 
<br><br>
<%= listing.address %><br>
<%= listing.description %><br>
<%= listing.length %><br>
<%= listing.width %><br>
<%= listing.height %><br>
<%= listing.area %><br>
<%= listing.volume %><br>
<%= listing.lat %><br>
<%= listing.lon %><br>
<br><br>

<a href="/home">Book Another Space</a>
<a href="/viewbookings">View Space Reserved</a>