<link rel="stylesheet" href="/css/home.css">
welcome <%= fname %>
    <%= lname %>
    <a href="/viewbookings">Your Bookings</a>
        <br>
        <a href="/mylistings">My Listings</a>
        <br>
        <button><a href="/newlisting">Add Listing</a></button>
        <br>
        <br>
        <br>
        <div class="listings">
            <%for(let listing of data){%>
                <%if(listing.available){%>
                    <a href=" <%= listing.link %>" style="text-decoration: none;">
                        <div class="card">
                            <div class="card-img"></div>
                            <div class="card-info">
                                <p class="text-title">
                                    <%=listing.address%>
                                </p>
                                <p class="text-body">
                                    <%=listing.description%>
                                </p>
                                <p class="text-body">area available: <%=listing.area%>
                                </p>
                            </div>
                            <div class="card-footer">
                                <span class="text-title">$<%=listing.price%></span>
                            </div>
                        </div>
                    </a>    
                <%}%>
                <%}%>
        </div>
                <br><br>
                <form action="/logout?_method=DELETE" method="POST">
                    <button type="submit">Log out</button>
                </form>