<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/m_listing.js" defer></script>
    <link rel="stylesheet" href="/css/modify.css">
    <title>Modify</title>
</head>
<body class="body">
    <div class="projectbox">
        <h1>Modify Listing </h1>
        <div class="card-img" style="width: 200px; height: 200px;">
            <img src="/images/<%= picture %>" alt="image" width="100%" height="100%">
        </div>
        <form action="/modifylisting/<%= _id.toString() %>" method="POST">
            <div style="width: 80%; padding: 10px;">
                <label for="address">Listing Address</label>
                <br style="content: ' '; margin: 2em;display: block;font-size: 24%;">
                <textarea id="address" name="address" placeholder="Your space address" required><%= address %></textarea>
            </div>
            <div style="width: 80%; padding: 20px;">
                <label for="description">Description</label><br>
                <br style="content: ' '; margin: 2em;display: block;font-size: 24%;">
                <textarea id="description" name="description" placeholder="Your description" required><%= description %></textarea>
            </div>
            <div style="width: 80%; padding: 20px;">
                <label for="price">price/month</label><br>
                <br style="content: ' '; margin: 2em;display: block;font-size: 24%;">
                <input type="number" id="price" name="price" placeholder="Enter the price of the space" min='0' value = "<%= price %>" required>
            </div>
            <div style="width: 80%; padding: 20px;">
                <label for="length">length</label><br>
                <br style="content: ' '; margin: 2em;display: block;font-size: 24%;">
                <input type="number" id="length" name="length" placeholder="Enter the length of the space" min='0' value = "<%= length %>" oninput="calculatearea()" required>
            </div>
            <div style="width: 80%; padding: 20px;">
                <label for="width">width</label><br>
                <br style="content: ' '; margin: 2em;display: block;font-size: 24%;">
                <input type="number" id="width" name="width" placeholder="Enter the width of the space" min='0' value = "<%= width %>" oninput="calculatearea()" required>
            </div>
            <div style="width: 80%; padding: 20px;">
                <label for="height">height</label><br>
                <br style="content: ' '; margin: 2em;display: block;font-size: 24%;">
                <input type="number" id="height" name="height" placeholder="Enter the height of the space" min='0' value = "<%= height %>" oninput= "calculatevolume()" required>
            </div>
            <div style="width: 80%; padding: 20px;">
                <label for="available_till">Available_Till</label><br>
                <br style="content: ' '; margin: 2em;display: block;font-size: 24%;">
                <input type="date" id="available_till" name="available_till" min ="<%= available_till %>" value = "<%= available_till %>" required>
            </div>
            <input type="hidden" id="area" name="area">
            <input type="hidden" id="volume" name="volume">
            Area : <span id="area_display"></span>m square
            <br>
            Volume : <span id="volume_display"></span>m cube
            <br>
            To change your location create a new listing
            <br>
            <button type="submit">Save Changes</button>
        </form>
        <% if(available === true){ %>
            <div id='confirmdelete'>
                <span id='popupMessage'>Are you sure you want to delete your Space?</span><br/>
                <form method="POST" action="/deletelisting/<%= _id.toString() %>">
                    <button id='confirm' type="submit">Confirm</button>
                </form>
                <button id='cancel' onclick='canceldelete()'>Cancel</button>
              </div>
            <button id="delete_space" onclick="displaypopup()">Delete Space</button>
            <%}%>
        <% if(available === false){ %>
            <h1>These changes will take effect only after the exitsting booking expires </h1>
            <h1>You can only Delete Listing after the booking is complete</h1>
            <%}%>
    </div>
    </div>
</body>
</html>