<a href="/home">Go Home</a>
<h1>My listings:</h1>
<%for (let listing of data){%>
    <a href="/modifylisting/<%= listing._id.toString()%>" style="text-decoration: none;">
        <div class="mylisting" style="border: 4px solid black;margin-top: 10px;">
            <div class="card-img" style="width: 200px; height: 200px;">
                <img src="/images/<%= listing.picture %>" alt="image" width="100%" height="100%">
            </div>
            <h1>
                <%= listing.address %>
            </h1>
            <%if(listing.available===false){ %>
                <h1>
                    Booking Id - <%= listing.booking_details._id.toString() %>
                </h1>
                <h1>
                    Booked Till: <%= listing.booking_details.end_date %>
                </h1>
                <h1>
                    Payment Received using :<%= listing.booking_details.payment %>
                </h1>
                <h1>booked by User <%=listing.user_details.first_name%>
                        <%=listing.user_details.last_name%>
                </h1>
                <h1>Contact customer on <%=listing.user_details.email%> or <%=listing.user_details.phone_no%>
                </h1>
                <%}%>
        </div>
    </a>
    <%}%>