<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/viewlisting.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <title>View Listing</title>
</head>

<body>
    <div class="nav">
        <div class="logo">
            <h1>Share Space</h1>
        </div>
        <div class="links">
            <a href="/viewbookings">Your Bookings</a>
            <a href="/mylistings">My Listings</a>
            <a href="/newlisting">Add Listing</a>
            <a href="/home">Home</a>
        </div>
    </div>
    <div class="viewlisting">
        <div class="view_listing">
            <div class="card-img" style="width: 250px; height: 300px;">
                <img src="/images/<%= picture %>" alt="image" class="imggg">
            </div>
            <h2>Listing details</h2>
            <table>
                <tr>
                    <th>Price $</th>
                    <th><%= price %> dollars / month</th>
                </tr>
                <tr>
                    <th>Address</th>
                    <th><%= address %></th>
                </tr>
                <tr>
                    <th>Description</th>
                    <th><%= description %></th>
                </tr>
                <tr>
                    <th>Length (in m)</th>
                    <th><%= length %></th>
                </tr>
                <tr>
                    <th>Width (in m)</th>
                    <th><%= width %></th>
                </tr>
                <tr>
                    <th>Height (in m)</th>
                    <th><%= height %></th>
                </tr>
                <tr>
                    <th>Area (in m squared)</th>
                    <th><%= area %></th>
                </tr>
                <tr>
                    <th>Volume (in m cubed)</th>
                    <th><%= volume %></th>
                </tr>
                <tr>
                    <th>Latitude</th>
                    <th><%= lat %></th>
                </tr>
                <tr>
                    <th>Longitude</th>
                    <th><%= lon %></th>
                </tr>
            </table>
        </div>
        <div class="ownerdetails">
            <h3>Space Hosted by : <%=user_data.first_name%> <%=user_data.last_name%></h3>
        <h3>Owner Contact : <%=user_data.email%> or <%=user_data.phone_no%> </h3>
        </div>
        <% if(allow_reserve){ %>
            <div class="reserve">
                <a href="/book/<%=_id%>">Reserve Listing</a>
            </div>
        <% } %> 
        <div class="commentsection">
            <h2 class="h123">Comment Section</h2>
            <div id="error" style="display: none;"></div>
            <div class="comment" id="comments"></div>
            <div class="makecomment">
                <label for="comment">
                    Post your Comment here:
                </label>
            <input type="text" id="comment" placeholder="enter your comment here">
            <button type="submit" onclick="postcomment()">Post Comment</button>
            </div>
        </div>
        <div class="reviewsection">
            <h1 class="h234">Reviews Section</h1>
            <div id="reviews"></div>
            <input type="hidden" id="id" value="<%=_id%>">
            <script src="/js/comments.js"></script>
        </div>
    </div>
</body>

</html>