<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <title>Listing</title>
</head>
<body>
    <a href="/home">Go to home</a>
    <h1>Listing details</h1>
    <div class="view_listing">
        <div class="card-img" style="width: 200px; height: 200px;">
            <img src="/images/<%= picture %>" alt="image" width="100%" height="100%">
        </div>
        <%= price %>dollar / month<br>
        <%= address %><br>
        <%= description %><br>
        <%= length %><br>
        <%= width %><br>
        <%= height %><br>
        <%= area %><br>
        <%= volume %><br>
        <%= lat %><br>
        <%= lon %><br>
    </div>
    <h1>Space Hosted by :<%=user_data.first_name%> <%=user_data.last_name%></h1>
    Owner Contact :<%=user_data.email%> or <%=user_data.phone_no%>
    <br>
    Owner Rating :<%=user_data.rating%><br>
    <% if(allow_reserve){ %>
        <a href="/book/<%=_id%>">Reserve Listing</a>
    <% } %> 
    <div id="comments"></div>
    <div class="makecomment">
        <input type="text" id="comment" placeholder="enter your comment here">
        <button type="submit" onclick="postcomment()">Post Comment</button>
    </div>
    <h1>visualize location on map</h1>
    <input type="hidden" id="id" value="<%=_id%>">
    <script src="/js/comments.js"></script>
</body>
</html>